@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-color: #1B2021;
  font-family: 'Inconsolata', monospace !important;
}

.bg{
  background-color: #1B2021;
}

.txt-color{
  color:#ffffff !important;
}

/* Navbar style*/
.fontsize{

  font-size: 1.4rem;
}
.navbar-home{
  margin-left: 50px !important;
}
.img-height{
  height: 50px !important;
 }

.navbar-height{
  height: 50px;
}
.navbar-brand{
  
  margin-left: 70px;
}


.nav-link {
  position: relative;
  z-index: 1;
  background-color: default;
  transition : background-color 2s ;
}
.nav-link:hover{

  color: #b3b1b1 !important; 
  
  background-color: #eaee15;
}

.nav-link:after{

  display: block ;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: rgb(122, 104, 104)  ;
  /* background:  !important; */
  /* transition: 2sn ease #f7d749; */
  visibility: none;
  opacity: 0;
  z-index: -1;

}

.nav-link:hover:after{
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/*search form styles*/

.search {
  width: 400px;
  position: relative;
  display: flex;
}
.search:focus{
  color : none;
}
.searchTerm {
  width: 210px;
  /* border-bottom: 5px solid #a35d35; */
  /* border-right: none; */
  border : 0;
  border-bottom: 1px solid #302f2f; ;
  padding: 5px;
  height: 28px;
  border-radius: 0;
  outline: none;
  color: #9DBFAF;
  background-color: transparent;
  transition : width .35s ease-in-out;
}

.searchTerm:focus{
  color:#a35d35;
  width : 300px;
}

.searchButton {
  width: 40px;
  height: 28px;
  border: 0;
  background: #1c2c2e;
  text-align: center;
  color: rgba(255, 255, 255, 0.288);
  border-radius: 0;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*span{
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 8px 4px;
  color: #000;
 
  transition: background-size .2s;
}

span:link {
  text-decoration: none;
}

span:hover {
  background-size: 4px 50px;
}
*/


.listed-docs{
  cursor:grab;
 
  box-shadow: #dbe0de;
}
.listed-docs:hover {
 opacity: 0.6;
}

/* carousel dots style*/
.slick-active button:before {
  color:rgb(212, 0, 255) !important;
  font-size:5px;
}
/* carousel dots style*/
