@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-color: #1B2021;
  font-family: 'Inconsolata', monospace !important;
}

.bg{
  background-color: #1B2021;
}

.txt-color{
  color:#ffffff
}
.fontsize{

  font-size: 1.1rem;
}
.brand{
  color: #d41c12;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left : 50px;
}
:root {
  --mainColor: #bda20b;
}
span{
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

span:hover {
  background-size: 4px 50px;
}

/* new arrivals card*/
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}



.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
} */
/* new arrivals card */


.listed-docs:hover {
 opacity: 0.6;
}