/* * {
	outline: 1px solid red;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  @keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      /* transition-duration: 0.7s, 0.7s, 0.15s; */
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }
  
  .box{
      width: 1200px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1px; /* cardlar arasındaki boşluk */
    }
    
    .grid {
      display: grid;
      padding: 50px;
      grid-template-columns: repeat(4, minmax(250px, 1fr));
      margin-left: 100px;
      margin-right: 100px;
      grid-gap: 15px;
      column-gap: 60px !important;
    }
  
    @media (min-width: 500px) {
      .grid { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-left: 50px;
        margin-right: 50px;
        margin: 0, auto;
        }
    }

  
    @media (min-width: 769px) {
      .grid { grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 15px;
      column-gap: 60px !important; 
      }
    }
  
    @media (min-width: 1035px) {
      .grid { grid-template-columns: repeat(3, minmax(250px, 1fr)); }
    }
  
    @media (min-width: 1350px) {
      .grid { grid-template-columns: repeat(4, minmax(250px, 1fr)); 
        margin-left: 100px;
        margin-right: 100px;
        grid-gap: 15px;
        column-gap: 60px !important;
      }
    }
    
    .custom-card{
      position: relative;
      font-family: 'Inconsolata', monospace !important;
      /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
      width: 300px;
      height: 350px;
      border: none;
      box-shadow:0 2px 10px rgba(0,0,0,.2);
      overflow: hidden;
    }
    .custom-card:before,
    .custom-card:after
    {
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index:-1;
    }
    .custom-card:hover:before{
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .custom-card:hover:after{
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
  
    }
    .custom-card .imgBx{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
    }
  
    /* shining */
    .custom-card:hover .imgBx::after{
      animation: shine 13s ease-in-out  infinite;
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 200%;
      transform: rotate(30deg);
      
      /* background: rgba(255, 255, 255, 0); */
      background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 77%,
        rgba(255, 255, 255, 0.33) 92%,
        rgba(255, 255, 255, 0.1) 100%
      );
    
    }
    .custom-card:hover .imgBx
    {
      z-index: 0;
      transform: scale(1.15);
      
      /*bottom: 80px;*/
    }
    
    .custom-card .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .custom-card .details{
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 0px;
      text-align: center;
      background-color: rgba(34, 34, 34, 0.7);
  }
    
    .custom-card:hover .details{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 60px;
        transition:all .5s ;
        text-align: center;
        background-color: rgba(34, 34, 34, 0.7);
    }
    
    .custom-card:hover .details h2{
     margin: 0;
     padding-top: 10px;
     font-weight: 600;
     font-size: 20px;
     color: #c09a1e;
     text-transform: uppercase;
     opacity: 1;
     
    } 
    