/* footer style */
.footer {
  background: #060707;
  color: white !important;
}
.footer-icons{
  color : white !important;
  font-size : 23px !important;
}
.footer-icons:hover{
  color : #db66eb !important;
  cursor : pointer ;
}
.links ul {
  list-style-type: none;
}
.links li a {
  color: white;
  transition: color 0.2s;
}
.links li a:hover {
  text-decoration: none;
  color: #e788f3;
}

.about-company i {
  font-size: 25px;
}
.about-company a {
  color: white;
  transition: color 0.2s;
}
.about-company a:hover {
  color: #e788f3;
}

.location i {
  font-size: 18px;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.d-block{
  height:15px;
}
/* Footer style ends*/



